
  
  .updateOrderForm {
    margin: 5vmax 0;
    padding: 3vmax;
    background-color: white;
  }
  
  .updateOrderForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  
  .updateOrderForm > div > select{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    margin: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 6px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .updateOrderForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: black;
  }
 
  
  @media screen and (max-width: 600px) {
    .updateOrderForm {
      padding: 5vmax;
    }
  
    .updateOrderForm > div > input{
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .updateOrderForm > div > svg {
      font-size: 2.8vmax;
    }

  }
  