.productHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 2px solid black;
  padding: 2vmax;
  color: black;
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
}
